@import "./sass/utils/mixin";


@keyframes MoveToLeft {
    0% { right: -400px; }
    100% { right: 400px; }
}

body{
	background-color: #000;
}

a{
	text-decoration: none;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
	padding: 20px;
    /* background: #3c3c3c; */
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include mobile{
		flex-wrap: wrap;
		justify-content: center;
	}
	h1{
		flex: 0 0 70%;
		padding: 30px;
		font-size: 80px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 30px;
		color: lighten($color: green, $amount: 30);
		@include pad{
			font-size: 48px;
		}
		@include mobile{
			font-size: 36px;
			flex: 0 0 100%;
			letter-spacing: 10px;
		}
	}
	a{
		flex: 0 0 30%;
		background-color: #000;
		font-size: 24px;
		padding: 20px;
		border-radius: 7px;
		border: 2px solid yellow;
		color:#fff;
		letter-spacing: 5px;
		font-weight: bold;
		text-align: center;
		// white-space: nowrap;
		@include mobile{
			flex: 0 0 40%;
			font-size: 20px;
			padding: 15px 10px;
		}
		&:hover{
			color: black;
			background-color: yellow;
		}
	}
}

.sendBtn{
	margin-left: auto;
	margin-right: 0;
	margin-top: 50px;
		display: block;
		width: 20%;
		text-align: center;
		background-color: #000;
		font-size: 24px;
		padding: 20px 40px;
		border-radius: 7px;
		border: 2px solid yellow;
		color:#fff;
		letter-spacing: 5px;
		font-weight: bold;
		white-space: nowrap;
		@include pad{
			padding: 15px 20px;
		}
		@include mobile{
			margin-top: -10px;
			width: 90%;
			margin: 0 auto;
		}
		&:hover{
			color: black;
			background-color: yellow;
		}
}

.list{
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	@include mobile{
		flex-wrap: wrap;
		justify-content: center;
	}
	li{
		flex: 0 0 30%;
		padding: 30px 15px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, .35);
		border: 5px solid yellow;
		@include mobile{
			flex: 0 0 90%;
			margin-bottom: 40px;
		}
	}
	h3{
		font-size: 48px;
		letter-spacing: 5px;
		padding-bottom: 10px;
		font-weight: bold;
		text-align: center;
		border-bottom: 2px solid #fff;
		color: #fff;
		@include pad{
			font-size: 24px;
		}
	}
	.list__content{
		overflow: hidden;
		height: 200px;
		position: relative;
		li{
			position: absolute;
			width: 100%;
			height: 50px;
			right: -400px;
			border: none;
			color:yellow;
			font-weight: bold;
			font-size: 36px;
			display: flex;
			justify-content: space-between;
			z-index: 1;
			transition: 0.8s;
			&.mid{
				right: 0;
				left: 0;
			}
			&.run{
				animation-name: MoveToLeft;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
			}
			p{
				height: 50px;
			}
			@include pad{
				font-size: 24px;
			}
			.list__content__price{
				color:red;
			}
		}
	}
}