@import "./sass/utils/mixin";

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.col-12{
    height: 1048px;
}

table{
    width: 100%;
}

table, th, td{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    padding: 3px 0;
    &.title{
        width: 40% !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &.list{
        width: 20% !important;
    }
}
@media print{
    * {
      -webkit-print-color-adjust: exact !important;
    }
    .noBreak {
      break-inside: avoid;
    }
  }